<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Platform.Runtime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Empinia.Core.Runtime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Platform.Runtime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Empinia.Core.Runtime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Platform.Runtime.Properties.Settings>
            <setting name="FailOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogKernelActivities" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanForBundlesInSecondAppDomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimumLogLevel" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </Platform.Runtime.Properties.Settings>
        <Empinia.Core.Runtime.Properties.Settings>
            <setting name="FailOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogKernelActivities" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanForBundlesInSecondAppDomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimumLogLevel" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </Empinia.Core.Runtime.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Platform.Runtime.Properties.Settings>
            <setting name="ProductName" serializeAs="String">
                <value>Empinia</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>The Empinia-Project</value>
            </setting>
            <setting name="ProductVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BundlePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CachePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferenceCachePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalUserProductAppDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CommonAppDataPath" serializeAs="String">
                <value />
            </setting>
        </Platform.Runtime.Properties.Settings>
        <Empinia.Core.Runtime.Properties.Settings>
            <setting name="ProductName" serializeAs="String">
                <value>Platform</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>The Empinia-Project</value>
            </setting>
            <setting name="ProductVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BundlePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CachePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferenceCachePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalUserProductAppDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CommonAppDataPath" serializeAs="String">
                <value />
            </setting>
        </Empinia.Core.Runtime.Properties.Settings>
    </applicationSettings>
</configuration>